################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lanny/v17/Preview/Browse.VC.opendb
/.vs/lanny/v17/Browse.VC.opendb
